.menuBar {
    -fx-background-color: #484848;
}

.loggedInUserLabel {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.title {
    -fx-font-weight: bold;
}

.windowPane {
    -fx-background-color: #484848;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.scrollPane {
    -fx-focus-color: transparent;
    -fx-background: #484848;
    -fx-background-color: #484848;
}

.mytendanceButton {
    -fx-background-radius: 0px;
    -fx-background-color: #636363;
    -fx-border-color: #484848;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: #484848;
    -fx-alignment: center;
    -fx-border-color: #484848;
    -fx-border-width: 3px 1px 3px 0px;
    -fx-border-style: hidden solid solid hidden;
}

.mytendanceButton:hover {
    -fx-background-color: #545454;
}

.mytendanceButton:selected {
    -fx-background-color: #484848;
}

.logOutButton {
    -fx-background-color: #e03c3c;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #484848;
    -fx-border-width: 3px 1px 3px 0px;
    -fx-border-style: hidden hidden solid solid;
    -fx-alignment: center;
}

.logOutButton:hover {
    -fx-background-color: #e81919;
}

/* DARK MODE */

.list-view {
    -fx-background-color: #484848;
    -fx-text-fill: #fff;
}

.list-cell {
    -fx-background-color: #484848;
    -fx-text-fill: #dddddd;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #333;
}

.list-cell:selected {
    -fx-text-fill: #fff;
}

.titled-pane {
    -fx-background-color: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.titled-pane > .title
{
    -fx-background-color: #333;
    -fx-text-fill: #fff;

}

.titled-pane > *.content
{
    -fx-border-color: #333;
}

.scroll-bar {
    -fx-background-color: #333;
}

.scroll-bar .thumb {
    -fx-background-color: #484848;
}

.combo-box-base {
    -fx-background-color: #333;
    -fx-border-color: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.combo-box-popup {
    -fx-border-color: #333;
}

.combo-box > .list-cell {
    -fx-background-color: #686868;
}

.combo-box-popup .list-cell {
    -fx-background-color: #686868;
    -fx-border-color: #333;
    -fx-border-width: 0 1 1 1;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #fff;
}

.date-picker {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.date-picker > .text-field {
    -fx-background-color: #686868;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, transparent, 10, 0, 0, 0);
    -fx-border-color: #333;
}

.date-picker > .arrow-button {
    -fx-background-color: #333;
    -fx-border-color: #333;
}

.hide--icon .date-picker > .arrow-button > .arrow {
    -fx-background-color: transparent;
}

.date-picker .cell {
    -fx-background-color: #484848;
    -fx-border-color: #333;
}

.date-picker-popup .month-year-pane{
    -fx-background-color: #333;
}

.date-picker-popup .month-year-pane .label{
    -fx-text-fill: #fff;
}

.date-picker-popup {
    -fx-background-color: #333;
}

.date-picker-popup > * {
    -fx-background-color: #484848;
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: #333;
}

.date-picker-popup > * > .selected {
    -fx-background-color: #686868;
    -fx-text-fill: #fff;
}

.date-picker-popup > * > .today {
    -fx-background-color: rgba(78, 211, 16, 0.25)
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-text-fill: #fff;
}

.date-picker-popup > * > .hijrah-day-cell {
    -fx-background-color: #484848;
}

.date-picker > .calendar-grid {
    -fx-background-color: #333;
}

.date-picker .arrow-button .arrow{
    -fx-background-color: #fff;
}

.button {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #e0e0e0;
}

.list-view .list-cell:selected {
    -fx-background-color: #5b5b5b;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #5b5b5b;
}

.table-view {
    -fx-background-color: #484848;
    -fx-border-color: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.table-view:focused {
    -fx-background-color: #484848;
    -fx-border-color: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-insets: 0,0,0;
}

.table-view .column-header-background .label{
    -fx-text-fill: #fff;
    -fx-border-color: #333;
}

.table-view .column-header {
    -fx-background-color: #313131;
}

.table-row-cell {
    -fx-background-color: #484848;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #333;
}

.table-cell {
    -fx-border-width: 0 0 0 0;
}

.table-row-cell .label:selected {
    -fx-text-fill: #fff;
}

.table-view .table-cell{
    -fx-text-fill: #dddddd;
}

.text-field {
    -fx-background-color: #686868;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: #fff;
    -fx-border-color: #333;
}

.text-area {
    -fx-background-color: #686868;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: #fff;
    -fx-border-color: #333;
}

.text-area .content {
    -fx-background-color: #686868;
    -fx-text-fill: #fff;
}

.spinner .increment-arrow-button{
    -fx-background-color: #333;
    -fx-border-color: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.spinner .decrement-arrow-button {
    -fx-background-color: #333;
    -fx-border-color: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.spinner .increment-arrow-button .increment-arrow{
    -fx-background-color: #fff;
}

.spinner .decrement-arrow-button .decrement-arrow{
    -fx-background-color: #fff;
}

.spinner :selected {
    -fx-border-color: #333;
}

.date-cell {
    -fx-background-color: #484848;
    -fx-border-color: #333;
    -fx-text-fill: #dddddd;
}

.date-cell:focused {
    -fx-text-fill: #fff;
}

.date-cell:pressed {
    -fx-text-fill: #fff;
}

.date-cell:hover {
    -fx-text-fill: #fff;
}

.chart {
    -fx-background-color: #484848;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-border-color: #333;
}

.chart-legend-item {
    -fx-text-fill: #fff;
}

.default-color0.chart-pie { -fx-pie-color: green; }
.default-color1.chart-pie { -fx-pie-color: #ff0000; }
.default-color2.chart-pie { -fx-pie-color: #ce0000; }
.default-color3.chart-pie { -fx-pie-color: #a80000; }
.default-color4.chart-pie { -fx-pie-color: #870000; }
.default-color5.chart-pie { -fx-pie-color: #560000; }
.default-color6.chart-pie { -fx-pie-color: #380000; }
.default-color7.chart-pie { -fx-pie-color: #1c0000; }


.chart-pie-label-line {
    -fx-stroke: #fff;
    -fx-fill: #fff;
}

.chart-pie-label {
    -fx-fill: #fff;
}
