.menuBar {
    -fx-background-color: #484848;
}

.loggedInUserLabel {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.windowPane {
    -fx-background-color: #484848;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.scrollPane {
    -fx-focus-color: transparent;
    -fx-background: #484848;
    -fx-background-color: #484848;
}

.mytendanceButton {
    -fx-background-radius: 0px;
    -fx-background-color: #636363;
    -fx-border-color: #484848;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-border-color: #484848;
    -fx-alignment: center;
    -fx-border-color: #484848;
    -fx-border-width: 3px 1px 3px 0px;
    -fx-border-style: hidden solid solid hidden;
}

.mytendanceButton:hover {
    -fx-background-color: #545454;
}

.mytendanceButton:selected {
    -fx-background-color: #484848;
}

.logOutButton {
    -fx-background-color: #e03c3c;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-border-color: #484848;
    -fx-border-width: 3px 1px 3px 0px;
    -fx-border-style: hidden hidden solid solid;
    -fx-alignment: center;
}

.logOutButton:hover {
    -fx-background-color: #e81919;
}

/* DARK MODE */

.list-view {
    -fx-background-color: #484848;
    -fx-text-fill: #fff;
}

.list-cell {
    -fx-background-color: #484848;
    -fx-text-fill: #939393;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #333;
}

.list-cell:selected {
    -fx-text-fill: #fff;
}

.titled-pane {
    -fx-background-color: #333;
}

.titled-pane > .title
{
    -fx-background-color: #333;

}

.titled-pane > *.content
{
    -fx-border-color: #333;
}

.scroll-bar {
    -fx-background-color: #333;
}

.scroll-bar .thumb {
    -fx-background-color: #484848;
}

.combo-box-base {
    -fx-background-color: #333;
    -fx-border-color: #333;
}

.date-picker {
    -fx-background-color: #484848;
}

.date-picker > .text-field {
    -fx-background-color: #484848;
    -fx-text-fill: #fff;
}

.date-picker > . {
    -fx-background-color: #333;
}

.button {
    -fx-background-color: #fff;
}

.button:hover {
    -fx-background-color: #e0e0e0;
}

.button:disabled {
    -fx-background-color: #333;
    -fx-text-fill: #686868;
}